<div class="container">
    
    <div class="alert alert-primary mt-5" role="alert">
        <h1 class="text-center">Login</h1>
    </div>
    
    <form (submit)="onLogin()">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
            
        </div>
        <br>
        <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
            
        </div>
        <div class="d-flex justify-content-center mt-4">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form>
</div>